
.contactPage {
    background-color: rgb(155, 72, 25);
    color: white;
    height: 80vh;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    padding: 10vh;
    width: 100%;
    max-width: 1280px;
}

.contactTitle {
    font-family: 'Radley', serif;
    font-size: 4rem;
    border-bottom: 2px solid #bd8f53;
    margin-bottom: 0;
    padding-bottom: 0.4em;
    width: 70%;
    text-align: start;
}

.contactSubtitle {
    font-family: 'Carlito', sans-serif;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
}

.contactInfo {
    display: flex;
    width: 100%;
    gap: 2rem;
    margin-top: 3rem;
}

.iconLabel {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    color: white;
    border-radius: 5px;
    padding: 0.5rem 0 0.5rem 1rem;
    background-color: rgba(185, 118, 80, 0.5);
    width: 20%
}

.iconLabel:hover {
    background-color: rgba(185, 118, 80, 0.5);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(185, 118, 80, 0.5);
    text-align: start;
    font-family: 'Carlito', sans-serif;
    font-size: 1.5rem;
}

.iconLabel:hover .icon {
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
}

.iconLabel:active {
    transform: scale(0.95);
}

.icon {
    width: 3.5rem;
    height: 3.5rem;
}

.labelGroup {
    text-align: start;
}

.labelGroup .title {
    text-transform: uppercase;
}

.labelGroup .label {
    font-family: 'radley', serif;
}

.labelGroup p {
    margin: 0;
}