.contentSection {
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  gap: 5rem;
  width: 100%;
  max-width: 1280px;
}

.contentSectionHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 5vh;
}

.contentSectionHeader h1 {
  font-family: "Radley", serif;
  font-size: 5rem;
  margin-bottom: 0.5rem;
}
.contentSectionHeader .cta {
  font-family: "Radley", serif;
  font-style: italic;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.contentSectionHeader .subtitle {
  font-family: "Carlito", sans-serif;
  font-size: 1.2rem;
  color: black;
  margin-top: 0.5rem;
  text-align: center;
}
.contentSectionHeader .cta:hover {
  color: gray;
  cursor: pointer;
  transform: scale(1.05);
}
.contentSectionHeader .cta:active {
  color: black;
  transform: scale(0.95);
}
.contentSectionHeader .cta:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(185, 118, 80, 0.5);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: normal;
  gap: 1.5rem;
  padding: 2rem 1rem;
}

.contentCard {
  width: 25vw;
}

.infoCard {
  width: 35vw;
  max-width: 550px;
  min-height: 30vh;
}

.contentCard .logo {
  width: 100px;
}

.contentCard .cover {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border: 3px solid black;
}

.contentCard .contentCardTitle {
  color: black;
  font-size: 1.5rem;
  font-family: "Radley", serif;
  border-bottom: 2px solid #bd8f53;
  margin-bottom: 0;
  padding-bottom: 0.8em;
}

.contentCardInfo {
  text-align: left;
  font-family: "Carlito", sans-serif;
  font-weight: normal;
  color: black;
  column-count: auto;
  font-size: 0.8rem;
}

.contentCardInfo .multi-column {
  column-count: 2;
  column-fill: balance;
}

.firstLine {
  font-size: 1.2rem;
  color: black;
  margin-top: 0.5rem;
  font-family: "Carlito", sans-serif;
  font-weight: 800;
}

.nextLine {
  font-family: "Carlito", sans-serif;
  color: black;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .contentSectionHeader h1 {
    font-size: 4rem;
  }
  .contentSectionHeader .cta {
    font-size: 1.2rem;
  }
  .contentCard {
    width: 46vw;
  }
  .infoCard {
    width: 50vw;
    max-width: unset;
    margin-bottom: 10vh;
  }

  .contentSection {
    gap: 0;
  }
}

@media screen and (max-width: 768px) {
  .infoCard {
    width: 60vw;
  }

  .contentCardInfo {
    font-size: 0.9rem;
  }

  .contentCard {
    height: 100%;
  }
}

@media screen and (max-width: 480px) {
  .contentSectionHeader h1 {
    font-size: 3.5rem;
  }
  .contentSectionHeader .cta {
    font-size: 1rem;
  }
  .contentCard {
    width: 90vw;
  }

  .infoCard {
    width: 90vw;
  }
} 
