.homeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
  padding-top: 5vh;
  width: 100%;
  max-width: 1280px;
}

.homeSectionText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.homeLogo {
  width: 4rem;
}

.homeSectionText h1 {
  font-size: 6rem;
  font-weight: 200;
  font-family: "Radley", serif;
}

.colouredText {
  color: black;
  font-style: italic;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  color: black;
  width: 60%;
}

.callToAction {
  text-decoration: none;
  transition: border-color 0.25s;
  font-family: "Radley", serif;
  color: rgb(155, 72, 25);
  font-size: 1.5rem;
  font-style: italic;
}

.callToAction:hover {
  color: gray;
  cursor: pointer;
}

.callToAction p {
  display: inline-block; 
  position: relative;         
  cursor: pointer;
  color: #9B4819;          
}

.callToAction p::before,
.callToAction p::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  filter: blur(0.03rem);
  border-radius: 50%;
  background: currentColor;
  transform-origin: left;
  transform: scaleX(0);
  opacity: 1;
}

.callToAction p::before {
  bottom: -2px;
  animation: drawFadeLine1 4s ease-in-out infinite;
}

.callToAction p::after {
  bottom: -6px;
  animation: drawFadeLine2 4s ease-in-out infinite;
}

@keyframes drawFadeLine1 {
  0%   { transform: scaleX(0); opacity: 1; }
  25%  { transform: scaleX(1); opacity: 1; } 
  75%  { transform: scaleX(1); opacity: 1; } 
  100% { transform: scaleX(0); opacity: 0; }  
}

@keyframes drawFadeLine2 {
  0%   { transform: scaleX(0); opacity: 1; }
  50%  { transform: scaleX(0); opacity: 1; } 
  75%  { transform: scaleX(1); opacity: 1; } 
  100% { transform: scaleX(0); opacity: 0; } 
}


@media screen and (max-width: 1024px) {
  .homeSection {
    height: 100%;
    padding-top: 10vh;
  }

  .homeSectionText h1 {
    font-size: 6rem;
  }
}

@media screen and (max-width: 768px) {
  .homeSection {
    height: 100%;
    margin-bottom: 10vh;
  }

  .homeSectionText h1 {
    font-size: 4.5rem;
  }

  .homeSectionText .subtitle {
    font-size: 1.4rem;
    width: 70%;
  } 
}

@media screen and (max-width: 480px) {
  .homeSection {
    height: 100%;
    margin-bottom: 10vh;
  }

  .homeSectionText h1 {
    font-size: 3rem;
  }

  .homeSectionText .subtitle {
    font-size: 1rem;
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .homeSection {
    height: 100%;
    margin-bottom: 10vh;
  }

  .homeSectionText h1 {
    font-size: 2.5rem;
  }

  .homeSectionText .subtitle {
    font-size: 0.8rem;
    width: 90%;
  }
}

@media screen and (max-height: 600px) {
  .homeSection {
    margin-top: 30vh;
  }
}
