nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(244, 241, 232);
    border-bottom: 1px solid #dcdcdc;
    padding: 0.5rem 0;
    position: fixed;
    left: 0;
    margin-bottom: 5vh;
    z-index: 1000;
}

button {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 0.9rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

button:hover {
    color: gray;
}

button:focus {
    border: 0;
    outline: 0;
}